.tutorialjs-img {
    max-width: 512px;
}

.tutorialjs-gap {
    gap: 50px;
}

.tutorialjs-subdoc {
    padding-left: 25px;
}

#home, #install, #demo, #documentation, footer {
    padding: 50px;
}

footer {
    margin: 0px;
}

#documentation table {
    max-width: 1000px;
}

* {
    scroll-behavior: smooth;
}